

body {
    font-family: Arial, Helvetica, sans-serif;

}

p {
	font-size: 16px;
}

input {
	font-size: 16px;
}

select {
	font-size: 16px;
}


.error {
	color: red;
}

#logo {
    margin-left: 25%;
}

#left {
	position: absolute;   /*change to relative */
	height: 100%;
        width: 688px;
	padding: 13px;
	background-color: #F9F9F9;
	margin-left: 25%;
}

#login {
    float: right;
z-index: 9999;
}



